- provide :title, "#{current_user.username.capitalize}'s Profile".html_safe

.container
  %h1
    = current_user.username.capitalize
  %hr
  .row
    .col-sm-6
      .row
        .col-sm-12
          %h2
            Public Info
      .row
        .col-xs-6
          Current Email:
        .col-xs-6
          .form-group
            = current_user.email
      .row
        .col-xs-6
          %strong
            First Name:
        .col-xs-6
          - if current_user.first_name.present?
            .form-group
              = current_user.first_name.capitalize
              .btn.btn-warning.btn-xs.pull-right
                Change
          - else
            .form-group
              .btn.btn-warning.btn-xs
                Add
      .row
        .col-xs-6
          %strong
            Last Name:
        .col-xs-6
          - if current_user.last_name.present?
            = current_user.last_name.capitalize
            .btn.btn-warning.btn-xs.pull-right
              Change
          - else
            .btn.btn-warning.btn-xs
              Add
    .col-sm-6
      .row
        .col-sm-12
          %h2
            Private Info
      .row
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = devise_error_messages!
          .form-group
            = f.label "" do
              Email address
              %span.small.text-info
              (This will never be public and never given away)
            = f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email Address"
          
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            .form-group
              Currently waiting confirmation for: #{resource.unconfirmed_email} 

          .form-group
            = f.label :password
            = f.password_field :password, autocomplete: "off", :class => "form-control"
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"
          .form-group
            = f.label :current_password 
            %em
              (we need your current password to confirm your changes)
            = f.password_field :current_password, autocomplete: "off", :class => "form-control"
          .form-group
            = f.submit "Update", :class => "btn btn-success"

          %div
            Unhappy? 
            = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete 