.jumbotron
  .container
    .row
      .col-sm-6
        %h2
          #{current_user.username.capitalize}
          %span.small
            Lv. #{current_user.user_stat.level}

          .text-center
            .row
              .col-xs-6
                %h2#current-hp-val 
                  #{current_user.user_stat.computed_hp}
                %p
                  .progress
                    .progress-bar.hp-progress-bar.remove-progress-bar-transition{:role => "progressbar", :valuemin => "0", :valuemax => "100", :style => "width: 60%;"}
                %h4 HP
              .col-xs-6
                %h2#current-mp-val 
                %p
                  .progress
                    .progress-bar.remove-progress-bar-transition{:role => "progressbar", :valuemin => "0", :valuemax => "100", :style => "width: 50%;"}
                %h4 MP

      .col-sm-6
        %h2
          Current Stats
        %table.table.table-condensed.table-bordered
          %tbody
            %tr
              %td
                HP
              %td
                #{current_user.user_stat.hp}
            %tr
              %td
                MP
              %td
                #{current_user.user_stat.mp}
            %tr
              %td
                Attack
              %td
                #{current_user.user_stat.base_attack}
            %tr
              %td
                Defense
              %td
                #{current_user.user_stat.base_defense}
            %tr
              %td
                Speed
              %td
                #{current_user.user_stat.speed}