.container
  .row
    .col-sm-4
      #player-stats
        .row
          .col-xs-12
            .pull-left
              = @user.username
            .pull-right
              %strong
                Lv.
              %span#player-level
                = @user.user_stat.level
        %hr
        .row
          .col-xs-6.pull-left
            HP:
            %span#player-hp
              = @user.user_stat.hp
          .col-xs-6.pull-right
            MP:
            %span#player-mp
              = @user.user_stat.mp
        .row
          .col-xs-12
            Armor
            %span#armor-rating
              = @user.user_stat.base_defense
      #player-atb-guage
        .progress.atb-gauge
          .progress-bar.remove-progress-bar-transition#player-atb-gauge{ :role => "progressbar", "aria-valuenow" => "100", "aria-valuemin" => "0", "aria-valuemax" => "100", :style => "width:0%"}
    
    .col-sm-4.col-sm-offset-4
      #enemy-stats
        .row
          .col-xs-12
            .pull-left
              Enemy Name
            .pull-right
              %strong
                Lv. 49
        %hr
        .row
          .col-xs-6.pull-left
            HP:
            %span#enemy-hp
              100
      #enemy-atb-guage
        .progress.atb-gauge
          .progress-bar.remove-progress-bar-transition#enemy-atb-gauge{ :role => "progressbar", "aria-valuenow" => "100", "aria-valuemin" => "0", "aria-valuemax" => "100", :style => "width:0%"}

  .row
    .col-sm-4.col-sm-offset-3
      #player-actions
        %table.table.table-bordered
          %tr
            %td
              .btn-group
                %button.btn.btn-default.action#attack{ :data => {"action-type" => "attack"} }
                  Attack
            %td
              .btn-group
                %button.btn.btn-default.dropdown-toggle#skill{ :type => "button", :data => {"toggle" => "dropdown"} }
                  Skills
                  %span.caret
                %ul.dropdown-menu#skills-menu{ :role => "menu" }
                  %li.action{ :data => {"action-type" => "skills", "action-taken" => "skill1"} }
                    = link_to "Skill 1", "#"
          %tr
            %td
              .btn-group
                %button.btn.btn-default.dropdown-toggle#magic{ :type => "button", :data => {"toggle" => "dropdown"} }
                  Magic
                  %span.caret
                %ul.dropdown-menu#magic-menu{ :role => "menu" }
                  %li.action
                    = link_to "Magic 1", "#"
            %td
              .btn-group
                %button.btn.btn-default.dropdown-toggle#item{ :type => "button", :data => {"toggle" => "dropdown"} }
                  Items
                  %span.caret
                %ul.dropdown-menu#items-menu{ :role => "menu" }
                  %li.action
                    = link_to "Item 1", "#"


      %button.btn.btn-defualt.btn-block#dev-button
        \.dev Button




