.container
  .row
    .col-sm-5
      #player-stats{ :data => {"base-attack" => "#{@user.user_stat.base_attack}", "speed" => "#{@user.user_stat.speed}"} }
        .row
          .col-xs-12
            .pull-left
              = @user.username
            .pull-right
              %strong
                Lv.
              %span#player-level{ :data => {"level" => "#{@user.user_stat.level}"} }
                = @user.user_stat.level
        %hr
        .row
          .col-xs-6.pull-left
            HP:
            %span#player-hp{ :data => {"hp" => "#{@user.user_stat.hp}"} }
              = @user.user_stat.hp
          .col-xs-6.pull-right
            MP:
            %span#player-mp{ :data => {"mp" => "#{@user.user_stat.mp}"} }
              = @user.user_stat.mp
        .row
          .col-xs-12
            Armor
            %span#armor-rating{ :data => {"armor-rating" => "#{@user.user_stat.base_defense}"} }
              = @user.user_stat.base_defense
      #player-atb-guage
        .progress
          .progress-bar.remove-progress-bar-transition.atb-gauge#player-atb-gauge{ :role => "progressbar", "aria-valuenow" => "100", "aria-valuemin" => "0", "aria-valuemax" => "100", :style => "width:0%"}
    
    .col-sm-5.col-sm-offset-2
      #enemy-stats{ :data => {"mp" => "100", "armor-rating" => "25", "base-attack" => "#{@user.user_stat.base_attack}", "speed" => "#{@user.user_stat.speed}"} }
        .row
          .col-xs-12
            .pull-left
              Enemy Name
            .pull-right
              %strong
                Lv. 49
        %hr
        .row
          .col-xs-6.pull-left
            HP:
            %span#enemy-hp{ :data => {"hp" => "#{@user.user_stat.hp}"} }
              100
      #enemy-atb-guage
        .progress
          .progress-bar.remove-progress-bar-transition.atb-gauge#enemy-atb-gauge{ :role => "progressbar", "aria-valuenow" => "100", "aria-valuemin" => "0", "aria-valuemax" => "100", :style => "width:0%"}

  .row
    .col-sm-4.col-sm-offset-3
      #player-actions
        %table.table.table-bordered
          %tr
            %td
              .btn-group
                %button.btn.btn-default.action#attack{ :data => {"action-type" => "attack"} }
                  Attack
            %td
              .btn-group
                %button.btn.btn-default.dropdown-toggle#skill{ :type => "button", :data => {"toggle" => "dropdown"} }
                  Skills
                  %span.caret
                %ul.dropdown-menu#skills-menu{ :role => "menu" }
          %tr
            %td
              .btn-group
                %button.btn.btn-default.dropdown-toggle#magic{ :type => "button", :data => {"toggle" => "dropdown"} }
                  Magic
                  %span.caret
                %ul.dropdown-menu#magic-menu{ :role => "menu" }
            %td
              .btn-group
                %button.btn.btn-default.dropdown-toggle#item{ :type => "button", :data => {"toggle" => "dropdown"} }
                  Items
                  %span.caret
                %ul.dropdown-menu#items-menu{ :role => "menu" }


      %button.btn.btn-defualt.btn-block#dev-button
        \.dev Button

      -#%div
      -#  Enemy HP
      -#  %span#enemy-hp{ :data => {"hp" => "100"} }
      -#    100