.container
  .row
    .col-sm-4
      .well.ethereal
        #player-stats
          .row
            .col-xs-12
              .pull-left
                %h4
                  = @user.username.capitalize
              .pull-right
                %h4
                  Lv.
                  %span#player-level
                    = @user.user_stat.level
          .row
            .col-xs-6.pull-left
              HP:
              %span#player-hp
                = @user.user_stat.hp
            .col-xs-6.pull-right
              MP:
              %span#player-mp
                = @user.user_stat.mp
          .row
            .col-xs-12
              Armor
              %span#player-armor-rating
                = @user.user_stat.base_defense
        #player-atb-guage
          = render :partial => 'atb_gauge', :locals => { :atb_owner => 'player' }
    
    .col-sm-4.col-sm-offset-4
      .well.ethereal
        #enemy-stats
          .row
            .col-xs-12
              .pull-left
                %h4
                  = @enemy.name.capitalize
              .pull-right
                %h4
                  Lv.
                  %span#enemy-level
                    = @enemy.level
          .row
            .col-xs-6.pull-left
              HP
              %span#enemy-hp
                100
          .row
            .col-xs-12
              Armor
              %span#enemy-armor-rating
                = @enemy.base_defense
        #enemy-atb-guage
          = render :partial => 'atb_gauge', :locals => { :atb_owner => 'enemy' }

  .row
    .col-sm-12.text-center
      #player-actions
        %table.table.table-bordered
          %tr
            %td
              .btn-group
                %button.btn.btn-default.action#attack{ :data => {"action-type" => "attack"} }
                  Attack
            %td
              .btn-group
                %button.btn.btn-default.dropdown-toggle#skill{ :type => "button", :data => {"toggle" => "dropdown"} }
                  Skills
                  %span.caret
                %ul.dropdown-menu#skills-menu{ :role => "menu" }
                  %li.action{ :data => {"action-type" => "skills", "action-taken" => "skill1"} }
                    = link_to "Skill 1", "#"
          %tr
            %td
              .btn-group
                %button.btn.btn-default.dropdown-toggle#magic{ :type => "button", :data => {"toggle" => "dropdown"} }
                  Magic
                  %span.caret
                %ul.dropdown-menu#magic-menu{ :role => "menu" }
                  %li.action
                    = link_to "Magic 1", "#"
            %td
              .btn-group
                %button.btn.btn-default.dropdown-toggle#item{ :type => "button", :data => {"toggle" => "dropdown"} }
                  Items
                  %span.caret
                %ul.dropdown-menu#items-menu{ :role => "menu" }
                  %li.action
                    = link_to "Item 1", "#"


      %button.btn.btn-defualt.btn-block#dev-button
        \.dev Button

:javascript
  $(window).on('beforeunload', function() {
    return 'Leaving the battle will forfeit your rewards.'
  });




