- content_for :body_class, "inventory"

.jumbotron.inventory-jumbotron
  .container
    .row
      .col-sm-6
        %section
          %h2
            #{current_user.username.capitalize}'s
            Stats
          .text-center
            .row
              .col-xs-6
                %h2 #{current_user.user_stat.hp}
                %p
                  .progress
                    .progress-bar.hp-progress-bar.remove-progress-bar-transition{:role => "progressbar", :valuemin => "0", :valuemax => "100", :style => "width: 60%;"}
                %h4 HP
              .col-xs-6
                %h2 #{current_user.user_stat.mp}
                %p
                  .progress
                    .progress-bar.remove-progress-bar-transition{:role => "progressbar", :valuemin => "0", :valuemax => "100", :style => "width: 50%;"}
                %h4 MP

        .row
          .col-xs-12
            %section
              %h3 Skill Progress
              .text-center
                .col-xs-6
                  %h4
                    Bash I
                  %p
                    .progress
                      .progress-bar.remove-progress-bar-transition{:role => "progressbar", :valuemin => "0", :valuemax => "100", :style => "width: 100%;"}     
                  %h4
                    Complete!
                .col-xs-6
                  %h4
                    Cure I
                  %p
                    .progress
                      .progress-bar.remove-progress-bar-transition{:role => "progressbar", :valuemin => "0", :valuemax => "100", :style => "width: 50%;"}
                  %h4
                    5/10

      .col-sm-6
        .text-center
          %h2
            Current Stats
          .row
            .col-xs-6
              %h3 #{current_user.user_stat.base_attack}
              %h4 Attack
            .col-xs-6
              %h3 #{current_user.user_stat.base_defense}
              %h4 Defense

.container
  .row
    %h3
      Loot Crate
    .col-md-6
      - if @user_inventories_equippables.present?
        %h4
          Equippables
        %table#loot-crate.table-condensed
          %thead
            %tr
              %th
                Equipped
              %th
                
              %th
                Quantity
              %th
              %th
          %tbody
            - @user_inventories_equippables.each do |item|
              %tr.item{ :id => "item-#{item.unique_item_id}" }
                %td.equipped
                  - if item.equipped
                    .ss-icon.ss-check.text-center.text-success
                %td.name
                  %span
                    %img{ :src => "http://placehold.it/50x50" }
                  = item.generated_item.prefix_name 
                  = item.generated_item.name
                  = item.generated_item.suffix_name
                %td.quantity
                  = item.quantity
                %td.action
                  %button.btn.btn-primary.equip-item{ :value => "#{item.unique_item_id}" }
                    Equip
                %td.options{ :data => {:toggle => "popover", :trigger => "focus", :title => "#{item.generated_item.prefix_name} #{item.generated_item.name} #{item.generated_item.suffix_name}"} }
                  = link_to "#" do
                    %span
                      .ss-icon.ss-directright
                    .popover-content.hide
                      %p
                        Hello
      - else
        Just an empty, dusty chest  

    .col-md-6
      %h4
        Consumables
      %table#loot-crate.table-condensed.text-center
        %thead
          %tr
            %th
              
            %th
              Quantity
            %th
            %th

        %tbody
          - @user_inventories_consumables.each do |item|
            %tr{ :id => "item-id-#{item.unique_item_id}"}
              %td.name
                %span
                  %img{ :src => "http://placehold.it/50x50" }
                = item.item.name
              %td.quantity
                = item.quantity
              %td.action
                %button.btn.btn-primary.use-item
                  Use
              %td.options
                = link_to "#" do
                  %span
                    .ss-icon.ss-directright







