- content_for :body_class, "inventory"

.container
  .row
    .col-md-12
      %h2
        Loot Crate
  .row
    .col-md-6
      - if @user_inventories_equippables.present?
        %h4
          Equippables
        %table#loot-crate.table
          %thead
            %tr
              %th
                Equipped
              %th
                
              %th
                Quantity
              %th
              %th
          %tbody
            - @user_inventories_equippables.each do |item|
              %tr{ :id => "item-#{item.unique_item_id}" }
                - if item.equipped
                  %td.equipped.ss-icon.ss-check.text-center.text-success
                - else
                  %td.equipped
                %td.name
                  %span
                    %img{ :src => "http://placehold.it/50x50" }
                  = item.generated_item.prefix_name 
                  = item.generated_item.name
                  = item.generated_item.suffix_name
                %td.quantity
                  = item.quantity
                %td.action
                  - if item.equipped
                    = button_to "Unequip", unequip_path, :class => "btn btn-primary btn-block", :params => {:unique_item_id => "#{item.unique_item_id}"}               
                  - else
                    = button_to "Equip", equip_path, :class => "btn btn-primary btn-block", :params => {:unique_item_id => "#{item.unique_item_id}"}
 
                %td.options{ :data => {:toggle => "popover", :trigger => "focus", :title => "#{item.generated_item.prefix_name} #{item.generated_item.name} #{item.generated_item.suffix_name}"} }
                  = link_to "#" do
                    %span
                      .ss-icon.ss-directright
                    .popover-content.hide
                      %table.table
                        %tbody
                          %tr
                            %td
                              Health
                            %td
                              - if item.generated_item.hp.present?
                                = item.generated_item.hp
                              - else
                                \--
                          %tr
                            %td
                              MP
                            %td
                              - if item.generated_item.mp.present?
                                = item.generated_item.mp
                              - else
                                \--        
                          %tr
                            %td
                              Attack
                            %td
                              - if item.generated_item.attack.present?
                                = item.generated_item.attack
                              - else
                                \--
                          %tr
                            %td
                              Defense
                            %td
                              - if item.generated_item.defense.present?
                                = item.generated_item.defense
                              - else
                                \--


      - else
        Just an empty, dusty chest  

    .col-md-6
      %h4
        Consumables
      %table#loot-crate.table-condensed.text-center
        %thead
          %tr
            %th
              
            %th
              Quantity
            %th
            %th

        %tbody
          - @user_inventories_consumables.each do |item|
            %tr{ :id => "item-id-#{item.unique_item_id}", :data => {:toggle => "popover", :trigger => "focus", :title => "#{item.item.name}"} }
              %td.name
                %span
                  %img{ :src => "http://placehold.it/50x50" }
                = item.item.name
              %td.quantity
                = item.quantity
              %td.action
                %button.btn.btn-primary.btn-block.use-item
                  Use
              %td.options
                = link_to "#" do
                  %span
                    .ss-icon.ss-directright
                  .popover-content.hide
                    %p
                      = item.item.description






